FullTreeDepthOne.png filter=lfs diff=lfs merge=lfs -text
FullTreeDepthThree.png filter=lfs diff=lfs merge=lfs -text
FullTreeDepthTwo.png filter=lfs diff=lfs merge=lfs -text
FullTrees.png filter=lfs diff=lfs merge=lfs -text
GrowTrees.png filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomial.png filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomial.png filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomial.pdf filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomial.pdf filter=lfs diff=lfs merge=lfs -text
Trees.graffle filter=lfs diff=lfs merge=lfs -text
Polynomials.numbers filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRun1.pdf filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRun2.pdf filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRun3.pdf filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRun4.pdf filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRun5.pdf filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRuns.numbers filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRun1.png filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRun2.png filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRun3.png filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRun4.png filter=lfs diff=lfs merge=lfs -text
SecondDegreePolynomialRun5.png filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun1.pdf filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun10.pdf filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun2.pdf filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun3.pdf filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun5.pdf filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun7.pdf filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun9.pdf filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRuns.numbers filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun2.png filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun8.pdf filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun1.png filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun10.png filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun3.png filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun5.png filter=lfs diff=lfs merge=lfs -text
ThirdDegreePolynomialRun8.png filter=lfs diff=lfs merge=lfs -text
